API_PREFIX=
API_PORT=

API_THROTTLER_TTL=
API_THROTTLER_LIMIT=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SCHEMA=

# this one is the final DB CONNECTION STRING that is used for PRISMA
DB_CONNECTION_STRING=

PGADMIN_USER=
PGADMIN_PASSWORD=
PGADMIN_PORT=

ORY_URL=
ORY_PORT=

KRATOS_DB_HOST=
KRATOS_DB_PORT=
KRATOS_DB_USER=
KRATOS_DB_PASSWORD=
KRATOS_DB_NAME=
KRATOS_DB_SCHEMA=
KRATOS_DB_DSN=
